
body{
    background-color: #b7c9e2;
    text-align: center;
    margin-left: 560px;
    margin-right: 560px;
    padding-top: 150px;
    
  
}
img{
    border-radius: 15px;
}
p{
    width: 95.5%;
    font-size: 15px;
}
.intro{
    font-size: 10;
    color:burlywood;
  
}




div{
    position: relative;
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 15px;
   
    background-color:white;
}
